<nav class="navbar-container">
  <div class="navbar">
    <a href="/" class="navbar-logo" aria-label="Return home">
      <img src="/icons/home.svg" inline>
      <span>Ryuk IT</span>
    </a>

    <ul class="navbar-menu">
      {# <li>
        <a href="/docs/overview/about-lume/" {% if main_menu == "docs" %}class="is-selected"{% endif %}>
          Documentation
        </a>
      </li> #}
      <li>
        <a href="/contact/" {% if main_menu == "contact" %}class="is-selected"{% endif %}>
          Contact Us
        </a>
      </li>
      {# <li>
        <a href="/plugins/" {% if main_menu == "plugins" %}class="is-selected"{% endif %}>
          Plugins
        </a>
      </li> #}
      {# <li>
        <a href="/blog/" {% if main_menu == "blog" %}class="is-selected"{% endif %}>
          Blog
        </a>
      </li> #}
    </ul>
    {# <div class="navbar-search" id="search">Search</div> #}
  </div>
</nav>